In [4]:
import pandas as pd

from main import load_data

dataset = load_data()

In [ ]:
print("label distribution in train_f1:")
print(dataset.train_f1["label"].value_counts())

print("==" * 40)
print("\n")
print("head of train_f1:")
print(dataset.train_f1.head())


print("==" * 40)
print("\n")

print("user count:", dataset.train_f1["user_id"].nunique())
print("merchant count:", dataset.train_f1["merchant_id"].nunique())

label distribution in train_f1:
label
0    244912
1     15952
Name: count, dtype: int64
================================================================================


head of train_f1:
   user_id  merchant_id  label
0    34176         3906      0
1    34176          121      0
2    34176         4356      1
3    34176         2217      0
4   230784         4818      0
================================================================================


user count: 212062
merchant count: 1993

In [ ]:
print("user info count:", dataset.user_f1["user_id"].nunique())
print("head of user_info:   ")
print(dataset.user_f1.head())

print("==" * 40)
print("\n")

print("user age distribution:")
print(dataset.user_f1["age_range"].value_counts())

print("==" * 40)
print("\n")

print("user gender distribution:")
print(dataset.user_f1["gender"].value_counts())

print("==" * 40)
print("\n")
print("null count in user_info:")
print(dataset.user_f1.isnull().sum())

user info count: 424170
head of user_info:
   user_id  age_range  gender
0   376517        6.0     1.0
1   234512        5.0     0.0
2   344532        5.0     0.0
3   186135        5.0     0.0
4    30230        5.0     0.0
================================================================================


user age distribution:
age_range
3.0    111654
0.0     92914
4.0     79991
2.0     52871
5.0     40777
6.0     35464
7.0      6992
8.0      1266
1.0        24
Name: count, dtype: int64
================================================================================


user gender distribution:
gender
0.0    285638
1.0    121670
2.0     10426
Name: count, dtype: int64
================================================================================


null count in user_info:
user_id         0
age_range    2217
gender       6436
dtype: int64

In [ ]:
print("log info count:", dataset.log_f1.shape[0])
print("head of log_info:   ")
print(dataset.log_f1.head())

print("==" * 40)
print("\n")
print("action type distribution:")
print(dataset.log_f1["action_type"].value_counts())

print("==" * 40)
print("\n")
print("cat id distribution:")
print(dataset.log_f1["cat_id"].value_counts())

print("==" * 40)
print("\n")
print("seller id distribution:  ")
print(dataset.log_f1["seller_id"].value_counts())

print("==" * 40)
print("\n")
print("brand id distribution:  ")
print(dataset.log_f1["brand_id"].value_counts())

print(
    "min timestamp:",
    dataset.log_f1["time_stamp"].min(),
    "max timestamp:",
    dataset.log_f1["time_stamp"].max(),
)

log info count: 54925330
head of log_info:
   user_id  item_id  cat_id  seller_id  brand_id  time_stamp  action_type
0   328862   323294     833       2882    2661.0         829            0
1   328862   844400    1271       2882    2661.0         829            0
2   328862   575153    1271       2882    2661.0         829            0
3   328862   996875    1271       2882    2661.0         829            0
4   328862  1086186    1271       1253    1049.0         829            0
================================================================================


action type distribution:
action_type
0    48550713
2     3292144
3     3005723
1       76750
Name: count, dtype: int64
================================================================================


cat id distribution:
cat_id
662     4339025
737     1749753
1505    1724239
389     1621736
656     1538969
         ...
482           1
700           1
1473          1
540           1
275           1
Name: count, Length: 1658, dtype: int64
================================================================================


seller id distribution:
seller_id
3760    743217
3828    730455
184     613811
1102    541374
4173    528755
         ...
126        231
4103       210
4449       198
4215       153
2979       143
Name: count, Length: 4995, dtype: int64
================================================================================


brand id distribution:
brand_id
3738.0    763345
1360.0    737545
1446.0    729555
1214.0    541075
5376.0    528003
           ...
6660.0         1
976.0          1
5317.0         1
5113.0         1
8075.0         1
Name: count, Length: 8443, dtype: int64
min timestamp: 511 max timestamp: 1112

In [ ]:
print(dataset.train_f2.head())


print("==" * 40 + "\n\n")
print("len of train dataset: ", len(dataset.train_f2[dataset.train_f2["label"] != -1]))
print("len of test dataset: ", len(dataset.test_f2[dataset.test_f2["label"] == -1]))

print(
    "len of test dataset unique user_id and merchant_id: ",
    len(
        dataset.test_f2[dataset.test_f2["label"].isna()].drop_duplicates(
            subset=["user_id", "merchant_id"]
        )
    ),
)

   user_id  age_range  gender  merchant_id  label  \
0    34176        6.0     0.0          944     -1
1    34176        6.0     0.0          412     -1
2    34176        6.0     0.0         1945     -1
3    34176        6.0     0.0         4752     -1
4    34176        6.0     0.0          643     -1

                                        activity_log
0                            408895:1505:7370:1107:0
1  17235:1604:4396:0818:0#954723:1604:4396:0818:0...
2  231901:662:2758:0818:0#231901:662:2758:0818:0#...
3                             174142:821:6938:1027:0
4                             716371:1505:968:1024:3
================================================================================


len of train dataset:  260864
len of test dataset:  6766466
len of test dataset unique user_id and merchant_id:  261477

In [ ]:
print(dataset.test_f1.head())
print(len(dataset.test_f1))

   user_id  merchant_id  prob
0   163968         4605   NaN
1   360576         1581   NaN
2    98688         1964   NaN
3    98688         3645   NaN
4   295296         3361   NaN
261477

In [ ]:
dataset.test_f2.head()

,user_id,age_range,gender,merchant_id,label,activity_log
0,163968,0.0,0.0,4378,-1.0,101206:812:6968:0614:0
1,163968,0.0,0.0,2300,-1.0,588758:844:3833:0618:0#71782:844:3833:1111:2#7...
2,163968,0.0,0.0,1551,-1.0,312747:243:1954:0627:0#312747:243:1954:0627:0#...
3,163968,0.0,0.0,4343,-1.0,932390:1612:3201:0628:0
4,163968,0.0,0.0,4911,-1.0,957657:662:3089:0612:0

In [ ]:
dataset.train_f2[dataset.train_f2["user_id"] == 16398]

# 获取 train_f2 和 test_f2 的 user_id 集合
train_user_ids = set(dataset.train_f2["user_id"])
test_user_ids = set(dataset.test_f2["user_id"])

# 计算 test_f2 中 user_id 在 train_f2 中的数量
common_user_count = len(test_user_ids & train_user_ids)
print("test_f2 中 user_id 在 train_f2 中的数量:", common_user_count)

test_f2 中 user_id 在 train_f2 中的数量: 0

In [ ]:
print("len of test dataset: ", len(dataset.test_f2[dataset.test_f2["label"].isna()]))
print("len of train dataset: ", len(dataset.train_f2[dataset.train_f2["label"].isna()]))

len of test dataset:  261477
len of train dataset:  0

In [5]:
X_copy = dataset.train_f2.copy()

In [6]:
X_copy = X_copy[X_copy["activity_log"].notnull()]
X_copy = X_copy.assign(activity_log=X_copy["activity_log"].str.split("#")).explode(
    "activity_log"
)

X_copy[["item_id", "cate_id", "brand_id", "time", "action_type"]] = X_copy[
    "activity_log"
].str.split(":", expand=True)

In [ ]:
X_copy.head(10)

,user_id,age_range,gender,merchant_id,label,activity_log,item_id,cate_id,brand_id,time,action_type
0,34176,6.0,0.0,944,-1,408895:1505:7370:1107:0,408895,1505,7370,1107,0
1,34176,6.0,0.0,412,-1,17235:1604:4396:0818:0,17235,1604,4396,0818,0
1,34176,6.0,0.0,412,-1,954723:1604:4396:0818:0,954723,1604,4396,0818,0
1,34176,6.0,0.0,412,-1,275437:1604:4396:0818:0,275437,1604,4396,0818,0
1,34176,6.0,0.0,412,-1,548906:1577:4396:1031:0,548906,1577,4396,1031,0
1,34176,6.0,0.0,412,-1,368206:662:4396:0818:0,368206,662,4396,0818,0
1,34176,6.0,0.0,412,-1,480007:1604:4396:0818:0,480007,1604,4396,0818,0
1,34176,6.0,0.0,412,-1,954723:1604:4396:0818:0,954723,1604,4396,0818,0
1,34176,6.0,0.0,412,-1,236488:1505:4396:1024:0,236488,1505,4396,1024,0
2,34176,6.0,0.0,1945,-1,231901:662:2758:0818:0,231901,662,2758,0818,0

In [7]:
action_ratio = (
    X_copy.groupby(["user_id", "action_type"])
    .size()
    .div(X_copy.groupby("user_id").size(), level="user_id")
    .unstack(fill_value=0)
    .add_prefix("action_ratio_")
)

action_ratio

action_type  action_ratio_0  action_ratio_1  action_ratio_2  action_ratio_3
user_id
1                  0.818182             0.0        0.181818        0.000000
4                  0.980000             0.0        0.020000        0.000000
6                  0.871486             0.0        0.068273        0.060241
7                  0.428571             0.0        0.571429        0.000000
8                  0.734940             0.0        0.180723        0.084337
...                     ...             ...             ...             ...
424162             0.949612             0.0        0.027132        0.023256
424163             0.942857             0.0        0.042857        0.014286
424164             0.945312             0.0        0.023438        0.031250
424167             0.800000             0.0        0.171429        0.028571
424170             0.975000             0.0        0.025000        0.000000

[212062 rows x 4 columns]

In [ ]:
X_copy["time"].min(), X_copy["time"].max()

('0511', '1112')

In [8]:
X_copy["month"] = X_copy["time"].str[:2].astype(int)
time_ratio = (
    X_copy.groupby(["user_id", "month"])
    .size()
    .div(X_copy.groupby("user_id").size(), level="user_id")
    .unstack(fill_value=0)
    .add_prefix("time_ratio_")
)

In [ ]:
time_ratio

month,time_ratio_5,time_ratio_6,time_ratio_7,time_ratio_8,time_ratio_9,time_ratio_10,time_ratio_11
user_id,,,,,,,
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.484848,0.515152
4,0.240000,0.000000,0.240000,0.000000,0.140000,0.060000,0.320000
6,0.024096,0.084337,0.184739,0.052209,0.369478,0.132530,0.152610
7,0.000000,0.285714,0.142857,0.000000,0.000000,0.000000,0.571429
8,0.060241,0.108434,0.240964,0.337349,0.036145,0.144578,0.072289
...,...,...,...,...,...,...,...
424162,0.023256,0.027132,0.003876,0.031008,0.104651,0.108527,0.701550
424163,0.035714,0.164286,0.035714,0.028571,0.000000,0.185714,0.550000
424164,0.000000,0.132812,0.070312,0.093750,0.148438,0.148438,0.406250
424167,0.200000,0.000000,0.000000,0.000000,0.057143,0.257143,0.485714
424170,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000

In [ ]:
# 用户不同时间区间的行为占比
time_action_ratio = (
    X_copy.groupby(["user_id", "month", "action_type"])
    .size()
    .div(
        X_copy.groupby(["user_id", "month"]).size(),
        level=["user_id", "month"],
    )
    .unstack(fill_value=0)
    .add_prefix("time_action_ratio_")
)

TypeError: Join on level between two MultiIndex objects is ambiguous

In [ ]:
# 用户不同时间区间的行为占比
time_action_ratio = (
    X_copy.pivot_table(
        index=["user_id", "month"],
        columns="action_type",
        aggfunc="size",
        fill_value=0,
    )
    .div(X_copy.groupby(["user_id", "month"]).size(), axis=0)
    .add_prefix("time_action_ratio_")
)

In [ ]:
time_action_ratio

action_type    time_action_ratio_0  time_action_ratio_1  time_action_ratio_2  \
user_id month
1       10                0.875000                  0.0             0.125000
        11                0.764706                  0.0             0.235294
4       5                 1.000000                  0.0             0.000000
        7                 1.000000                  0.0             0.000000
        9                 1.000000                  0.0             0.000000
...                            ...                  ...                  ...
424167  5                 0.857143                  0.0             0.142857
        9                 1.000000                  0.0             0.000000
        10                0.777778                  0.0             0.222222
        11                0.764706                  0.0             0.176471
424170  11                0.975000                  0.0             0.025000

action_type    time_action_ratio_3
user_id month
1       10                0.000000
        11                0.000000
4       5                 0.000000
        7                 0.000000
        9                 0.000000
...                            ...
424167  5                 0.000000
        9                 0.000000
        10                0.000000
        11                0.058824
424170  11                0.000000

[1057541 rows x 4 columns]

In [ ]:
# 用户每种action的占比
action_ratio = (
    X_copy.groupby(["user_id", "action_type"])
    .size()
    .div(X_copy.groupby("user_id").size(), level="user_id")
    .unstack(fill_value=0)
    .add_prefix("action_ratio_")
)

# 用户每个月的行为占比（假设时间区间已分组为 time_bin）
X_copy["month"] = X_copy["time"].str[:2].astype(int)
time_ratio = (
    X_copy.groupby(["user_id", "month"])
    .size()
    .div(X_copy.groupby("user_id").size(), level="user_id")
    .unstack(fill_value=0)
    .add_prefix("time_ratio_")
)

# 用户每个时间段里，不同action的占比
time_action_ratio = (
    X_copy.pivot_table(
        index=["user_id", "month"],
        columns="action_type",
        aggfunc="size",
        fill_value=0,
    )
    .div(X_copy.groupby(["user_id", "month"]).size(), axis=0)
    .add_prefix("time_action_ratio_")
)

# 合并所有特征
features = action_ratio.join(time_ratio, how="outer").join(
    time_action_ratio, how="outer"
)

In [17]:
features

               action_ratio_0  action_ratio_1  action_ratio_2  action_ratio_3  \
user_id month
1       10           0.818182             0.0        0.181818        0.000000
        11           0.818182             0.0        0.181818        0.000000
4       5            0.980000             0.0        0.020000        0.000000
        7            0.980000             0.0        0.020000        0.000000
        9            0.980000             0.0        0.020000        0.000000
...                       ...             ...             ...             ...
424167  5            0.800000             0.0        0.171429        0.028571
        9            0.800000             0.0        0.171429        0.028571
        10           0.800000             0.0        0.171429        0.028571
        11           0.800000             0.0        0.171429        0.028571
424170  11           0.975000             0.0        0.025000        0.000000

               time_ratio_5  time_ratio_6  time_ratio_7  time_ratio_8  \
user_id month
1       10             0.00           0.0          0.00           0.0
        11             0.00           0.0          0.00           0.0
4       5              0.24           0.0          0.24           0.0
        7              0.24           0.0          0.24           0.0
        9              0.24           0.0          0.24           0.0
...                     ...           ...           ...           ...
424167  5              0.20           0.0          0.00           0.0
        9              0.20           0.0          0.00           0.0
        10             0.20           0.0          0.00           0.0
        11             0.20           0.0          0.00           0.0
424170  11             0.00           0.0          0.00           0.0

               time_ratio_9  time_ratio_10  time_ratio_11  \
user_id month
1       10         0.000000       0.484848       0.515152
        11         0.000000       0.484848       0.515152
4       5          0.140000       0.060000       0.320000
        7          0.140000       0.060000       0.320000
        9          0.140000       0.060000       0.320000
...                     ...            ...            ...
424167  5          0.057143       0.257143       0.485714
        9          0.057143       0.257143       0.485714
        10         0.057143       0.257143       0.485714
        11         0.057143       0.257143       0.485714
424170  11         0.000000       0.000000       1.000000

               time_action_ratio_0  time_action_ratio_1  time_action_ratio_2  \
user_id month
1       10                0.875000                  0.0             0.125000
        11                0.764706                  0.0             0.235294
4       5                 1.000000                  0.0             0.000000
        7                 1.000000                  0.0             0.000000
        9                 1.000000                  0.0             0.000000
...                            ...                  ...                  ...
424167  5                 0.857143                  0.0             0.142857
        9                 1.000000                  0.0             0.000000
        10                0.777778                  0.0             0.222222
        11                0.764706                  0.0             0.176471
424170  11                0.975000                  0.0             0.025000

               time_action_ratio_3
user_id month
1       10                0.000000
        11                0.000000
4       5                 0.000000
        7                 0.000000
        9                 0.000000
...                            ...
424167  5                 0.000000
        9                 0.000000
        10                0.000000
        11                0.058824
424170  11                0.000000

[1057541 rows x 15 columns]

In [20]:
dataset.test_f2[dataset.test_f2["label"].isna()]

,user_id,age_range,gender,merchant_id,label,activity_log
12,163968,0.0,0.0,4605,NaN,772645:1368:7622:1111:2#772645:1368:7622:1111:0
53,360576,2.0,2.0,1581,NaN,948181:614:4066:1111:2#1111020:614:4066:1111:2...
65,98688,6.0,0.0,1964,NaN,774035:247:1193:1111:0#774035:247:1193:1111:0#...
67,98688,6.0,0.0,3645,NaN,661340:748:3637:1111:0#661340:748:3637:1111:2#...
134,295296,2.0,1.0,3361,NaN,521280:1118:487:1111:0#521280:1118:487:1111:0#...
...,...,...,...,...,...,...
7027868,228479,6.0,0.0,3111,NaN,1080932:664:5052:1111:2#1080932:664:5052:1111:...
7027896,97919,8.0,1.0,2341,NaN,297989:786:1866:1111:2#297989:786:1866:1111:0
7027897,97919,8.0,1.0,3971,NaN,164967:1611:2142:1111:2#164967:1611:2142:1111:...
7027925,32639,0.0,0.0,3536,NaN,1106697:946:3481:1111:0#264956:946:3481:1111:0...
7027926,32639,0.0,0.0,3319,NaN,179481:898:5508:1110:0#179481:898:5508:1111:0#...

In [19]:
dataset.test_f2.head(10)

,user_id,age_range,gender,merchant_id,label,activity_log
0,163968,0.0,0.0,4378,-1.0,101206:812:6968:0614:0
1,163968,0.0,0.0,2300,-1.0,588758:844:3833:0618:0#71782:844:3833:1111:2#7...
2,163968,0.0,0.0,1551,-1.0,312747:243:1954:0627:0#312747:243:1954:0627:0#...
3,163968,0.0,0.0,4343,-1.0,932390:1612:3201:0628:0
4,163968,0.0,0.0,4911,-1.0,957657:662:3089:0612:0
5,163968,0.0,0.0,4043,-1.0,758260:614:7178:0702:0#813180:614:7178:0628:0#...
6,163968,0.0,0.0,2138,-1.0,328339:664:300:0616:0#328339:664:300:0616:2#32...
7,163968,0.0,0.0,2575,-1.0,319874:119:7396:0528:0#319874:119:7396:0528:2#...
8,163968,0.0,0.0,4159,-1.0,188320:1023:625:0628:0
9,163968,0.0,0.0,1163,-1.0,200572:664:7629:0603:0